<tr>
    <td>{{id}}</td>
    <td><img src="/gfx/{{icon type}}.png"></td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="/Show/?id={{id}}">Show</a></td>
    <td><a href="/Info/?id={{id}}">Info</a></td>
    <td><a href="/Download/?id={{id}}">Download</a></td>
    <td><a href="/Delete/?id={{id}}">Delete</a></td>
</tr>