<p class="main">Info</p>
<div class="container1">
    {{#if id }}
    <p>id: {{id}}</p>
    <p>Name: {{name}}</p>
    <p>Path: {{path}}</p>
    <p>Size: {{size}}</p>
    <p>Type: {{type}}</p>
    <p>Savedate: {{saveDate}}</p>
    {{/if}}
</div>